{{#if showAd}}
<div class="side-ad-parent {{hideClass}}">
    <div class="google-dfp-ad google-dfp-side-ad">
    {{#if site.mobileView}}

        <div class="google-dfp-ad-label" style={{adTitleStyleMobile}}><h2>{{i18n "adplugin.advertisement_label"}}</h2></div>
        <div id={{divId}} class="didna-ad-unit" align="center"> 
           
            <!-- MixedMartialArts_300x600 -->
           <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-2829411399762487"
            data-ad-slot="2572509596"></ins>
              
        </div>
    {{else}}
        <div class="google-dfp-ad-label"><h2>{{i18n "adplugin.advertisement_label"}}</h2></div>
        <div id={{divId}} class="didna-ad-unit" align="center">
           
            <!-- MixedMartialArts_300x600 -->
           <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-2829411399762487"
            data-ad-slot="2572509596"></ins>
            
        </div>
    {{/if}}
    </div>
</div>
{{/if}} 
 {{!-- <div id="reply-control" class="closed show-preview ember-view"><div class="grippie"></div></div>   --}}